@import 'settings.colors';

:root {
  --local-height: 50px;
}

.wrapper {
  width: 100%;
  height: calc(var(--local-height) + 1);
}

.header {
  background-color: #fff;
  border-bottom: 1px solid var(--clr-light-grey);
  margin: 0;
  width: 100%;
  position: fixed;
  height: var(--local-height);
}

.left, .right {
  width: 20%;
}

.left, .right, .center {
  float: left;
  height: 100%;
}

.center {
  width: 60%;
  text-align: center;
  line-height: var(--local-height);
}
